@import url(https://fonts.googleapis.com/css?family=Pacifico);

@font-face
  font-family "Helvetica"
  src url("./fonts/HelveticaNeue.ttf")
@font-face
  font-family "Novecento Wide"
  src url("./fonts/NVCWide-demibold.ttf")

$font-pacific = 'Pacifico', cursive;
$font-helvet = "Helvetica", sans-serif;
$font-novecento = "Novecento Wide", sans-serif;

$col-middlegray = #666262
$col-white = #fff
$col-bodybg = #fefefe
$col-viewboxbg = #efefef
$col-bordergray = #ccc
$col-lightgray = #d4d4d4
$col-green = #87b672
$col-textprimegray = #5f5b5b
$col-textsubgray = #8f8f8f
$col-notebookAdd = #464c52
$col-primefooter = #333333
$col-emailinput = #4e4c4c

$col-dispblue = #3498db
$col-dispgreen = #2ecc71
$col-disporange = #f39c12