placeholder-style(prop, value)
  &::-webkit-input-placeholder
    {prop} value
  &:-moz-placeholder
    {prop} value
  &::-moz-placeholder
    {prop} value
  &:-ms-input-placeholder
    {prop} value

